@model WebApp.Models.OrderWeb

@{
    ViewData["Title"] = "OrderConfirmation";
}

<h2>OrderConfirmation</h2>

<div>
    <h4>OrderWeb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>Order ID</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            <strong>Date:</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dt)
        </dd>
        <dt>
            <strong>Location</strong>
        </dt>
        <dd>
            @TempData["LocationName"]
        </dd>
        <dt>
            <strong>Name</strong>
        </dt>
        <dd>
            @TempData["CustomerFirstName"] @TempData["CustomerLastName"]
        </dd>
        <dt>
            <strong>Pizzas Ordered</strong>
        </dt>
        <dd>
            @if ((string)TempData.Peek("Pizza1") != "noPizza")
            {
                @TempData["Pizza1"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza2") != "noPizza")
            {
                @TempData["Pizza2"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza3") != "noPizza")
            {
                @TempData["Pizza3"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza4") != "noPizza")
            {
                @TempData["Pizza4"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza5") != "noPizza")
            {
                @TempData["Pizza5"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza6") != "noPizza")
            {
                @TempData["Pizza6"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza7") != "noPizza")
            {
                @TempData["Pizza7"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza8") != "noPizza")
            {
                @TempData["Pizza8"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza9") != "noPizza")
            {
                @TempData["Pizza9"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza10") != "noPizza")
            {
                @TempData["Pizza10"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza11") != "noPizza")
            {
                @TempData["Pizza11"]
            }
        </dd>
        <dd>
            @if ((string)TempData.Peek("Pizza12") != "noPizza")
            {
                @TempData["Pizza12"]
            }
        </dd>
        <dt>
            <strong>Order Total</strong>
        </dt>
        <dd>
            $@Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div class="form-group">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Return to Home</a>
</div>
